<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <!--添上.webServer中的这一句并设置为true即可--> 
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5.1" requestValidationMode="2.0"/>
  </system.web>
  <connectionStrings>
    <add name="Sql" connectionString="server=192.168.1.104;database=HuaGongDB;uid=sa;password=dhx123"/>
  </connectionStrings>
</configuration>
<!--ProjectGuid: 1CC76FE5-23F7-4D5A-AC02-7BDA08CBDB1E-->