<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>后台网站登录</title>
</head>
<body>
    <form action="Login.ashx" method="post">
        <table>
            <tr>
                <td>用户名: <input type="text" name="uid" value="" /></td>
            </tr>
            <tr>
                <td>密码: <input type="password" name="pwd" value="" /></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" value="sumbit" /></td>
            </tr>
        </table>
    </form>
   
</body>
</html>