#parse("Front/Head.html")

<div id="page_main" class="clearfix">
    <div class="page-right">
        <div class="site-nav"><span>当前位置 : </span><a href="index.html">公司主页</a> &gt;&gt; <a href="products.html" title="产品展示">产品展示</a></div>
        <div class="page-products">
            <ul class="clearfix">
                #foreach($p in $Model.Products)
                <li><a href="ProductView.ashx?Id=$p.Id" title="$p.Name"><img src="$p.ImagePath" alt="$p.Name" width="210" height="150"><span>$p.Name</span></a></li>
                #end
            </ul>
            <div class="page_list">
                <div class="list_info">
                    当前为第$Model.PageNum页,总共$Model.totalCount条
                    <!--完成作业往前翻页 主要时间浪费在nvolicity上一用减法就出问题，还没有找到原因-->
                    #if($Model.PageNum>1) 
                    <a href="ProductList.ashx?PageNum=1">&nbsp;&lt;&lt;&nbsp;</a><a href="ProductList.ashx?PageNum=$Model.Pre">&nbsp;&lt;&nbsp;</a>
                    #else
                    <span class="disabled">&nbsp;&lt;&lt;&nbsp;</span><span class="disabled">&nbsp;&lt;&nbsp;</span>
                    #end
                    <span class="disabled">
                        #foreach($page in $Model.PageData)
                            #if($page.Title==$Model.PageNum)
                            <span class="current">$page.Title</span>
                            #else
                            <a href="$page.Href">$page.Title</a>
                            #end
                        #end
                    </span>
                        #if($Model.PageNum<$Model.PageCount) #set($NextPagNum=$Model.PageNum+1)
                        <a href="ProductList.ashx?PageNum=$NextPagNum">&nbsp;&gt;&nbsp;</a><a href="ProductList.ashx?PageNum=$Model.PageCount">&nbsp;&gt;&gt;&nbsp;</a>
                        #else
                        <span class="disabled">&nbsp;&gt;&nbsp;</span><span class="disabled">&nbsp;&gt;&gt;&nbsp;</span>
                        #end
</div>
            </div>

        </div>
    </div>
    <div class="page-left">
        <div class="left-products">
            <h2><span>产品展示</span></h2>
            <div id="LeftMenu" class="ddsmoothmenu-v">
                <ul>
                    #foreach($pc in $Model.Categories)
                    <li><a href="ProductList.ashx?CategoryId=$pc.Id" title="$pc.Name"><span>$pc.Name</span></a></li>
                    #end
                </ul>
            </div>
            <script type="text/javascript">
                ddsmoothmenu.init({
                    mainmenuid: "LeftMenu", //Menu DIV id
                    orientation: 'v', //Horizontal or vertical menu: Set to "h" or "v"
                    classname: 'ddsmoothmenu-v', //class added to menu's outer DIV
                    //customtheme: ["#804000", "#482400"],
                    contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
                })
            </script>
        </div>
        <div class="left-search">
            <h2><span>站内搜索</span></h2>
            <form action="" method="post" id="sitesearch" name="sitesearch">
                <p>
                    <select name="searchid" id="searchid"><option value="2" selected="selected">产品展示</option><option value="3">新闻中心</option><option value="4">招聘信息</option></select>
                </p>
                <p>
                    <input name="searchtext" id="searchtext" type="text">
                </p>
                <p>
                    <input name="searchbutton" id="searchbutton" value="" type="submit">
                </p>
            </form>
        </div>
        <div class="left-contact">
            <h2><span>联系我们</span></h2>
            <p>
                <span>地址: </span>上海市嘉定区华亭镇<br>
                <span>邮编: </span>200000<br>
                <span>联系人: </span>网聚化工<br>
                <span>电话: </span>021-58888888<br>
                <span>传真: </span>021-58888888<br>
                <span>手机: </span>13888888888<br>
                <span>邮箱: </span>netgather@netgather.com
            </p>
        </div>
        <img src="images/tel.gif" alt="联系我们" width="240" height="59">
    </div>
</div>
#parse("Front/Foot.html")